footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  font-weight: 500;
  background-color: gray;
  p {
    margin-left: 20px;
  }
}
